@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Cormorant+Garamond:ital,wght@0,300;1,300&display=swap');


body {
  //font-family: 'Abril Fatface', cursive;
  font-family: 'Cormorant Garamond', serif;
}

.jeux {
  margin: 10rem auto;
  width: 50%;
  @media screen and (max-width: 768px){
    width: 100%;
  }

  .titre {
    font-family: 'Abril Fatface', cursive;
    text-transform: uppercase;
    text-align: center;
    font-size: 1.5rem;
  }

  form {
    margin: 1.5rem auto;
    background-color: rgba(2, 136, 209, .1);
    width: 100%;
    padding: 1rem;
    font-size: 1.5rem;

    .form-control {
      border-radius: 0;
      font-size: 1.2rem;
    }

    .erreur {
      font-style: italic;
    }

    .btn {
      border-radius: 0;
      font-size: 1.2rem;
      font-family: 'Abril Fatface', cursive;
      width: 100%;
      @media screen and (max-width: 768px) {
        font-size: .7rem;
      }
    }
  }

  .reponse {
    text-align: center;
    border-radius: 0;
    font-size: 1.2rem;
  }
}