@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Tenor+Sans&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  //font-family: 'Alfa Slab One', cursive;
  font-family: 'Tenor Sans', sans-serif;
  font-size: 1.6rem;
}

.container {
  margin: 10rem auto;
  padding: 0 0 1rem;
  width: 70%;
  background-color: rgba(55, 71, 79, .1);
}

.header {
  font-family: 'Alfa Slab One', cursive;
  text-align: center;
  text-transform: uppercase;
  background-color: rgba(0, 96, 100, 1);
  color: rgba(205, 220, 57, 1);
  padding: 2.5rem 2rem;
  font-size: 3rem;
  letter-spacing: .7rem;
  border-left: #cddc39 solid 1rem;
  border-right: #cddc39 solid 1rem;
}

.main {
  &__titre {
    text-align: center;
    color: rgba(0, 96, 100, 1);
    text-transform: capitalize;
    font-size: 2rem;
    padding: 1.5rem;
    font-weight: bold;
  }

  &__operation {
    padding: 1.5rem;
    text-align: center;
    font-size: 4rem;
  }

  &__reponse {
    padding: 1.5rem;
    margin: 0 auto;
    width: 30%;
  }

  &__form-control {
    width: 100%;
    padding: 1rem;
    font-size: 2rem;
    text-align: center;
    border-color: rgba(55, 71, 79, .1);

  }

  &__btn-valider {
    background-color: rgba(0, 96, 100, 1);
    color: #cddc39;
    padding: 1rem;
    width: 100%;
    font-size: 1.7rem;
    margin-top: .5rem;

    &:hover, &:disabled {
      background-color: rgba(0, 96, 100, .5);
      color: rgba(0, 96, 100, 1);
    }
  }

  &__msg {
    text-align: center;
    padding: 1rem;
    margin: 1.5rem auto;
    width: 90%;
    text-transform: uppercase;
    font-weight: bold;

    &-succes {
      color: rgba(0, 137, 123, 1);
    }

    &-echec {
      color: rgba(229, 57, 53, 1);
    }
  }

  &__historique {
    width: 90%;
    margin: 1.5rem auto;

    &-titre {
      background-color: rgba(38, 50, 56, .8);

      th {
        padding: 1rem 0;
        text-transform: uppercase;
        color: #fff;
      }
    }

  }

  &__erreur {
    padding: 1.5rem;
    color: red;
    font-style: italic;
    font-size: 1.3rem;
  }
}

table, td, th {
  border: 1px solid;
}

table {
  width: 100%;
  border-collapse: collapse;
}

td {
  text-align: center;
  padding: 1.5rem;
}